*{
    padding:0;
    margin:0;
    font-family:sans-serif;
    box-sizing:border-box;
}

body, #container, .X, .O{
    display:flex;
    align-items:center;
    justify-content: center;
}

body{
    background-color:black;
    height:100dvh;
    color:white;
}

#container{
    background-color:rgba(255, 255, 255, 0.2);
    padding:1rem;
    width:85vmin;
    aspect-ratio: 1/1;
    border-radius: 15px;
    flex-direction:column;
}

#logo{
    flex-grow:1;
    font-size:6vmin;
    font-weight:bold;
    text-shadow: 0px 0px 10px white;
}

#score-card{
    display: flex;
    gap:2.5rem;
    margin:1rem;
    font-size:x-large;
    text-shadow: 0px 0px 5px white;
    cursor: pointer;
}

#game{
    flex-grow:6;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    height:75vmin;
    max-height:600px;
    aspect-ratio: 1/1;
    gap:.5rem;
}

.box{
    border:none;
    border-radius:.5rem;
    position: relative;
}

.X{
    background-color: blue;
}

.X::after,.X::before{
    position: absolute;
    content:'';
    height:2vmin;
    width:10.5vmin;
    background-color:yellow;
}

.X::after{
    rotate:45deg;
}

.X::before{
    rotate:-45deg;
}

.O{
    background-color: green;
}

.O::after, .O::before{
    position: absolute;
    content:'';
    border-radius:50%;
    aspect-ratio: 1/1;
}

.O::before{
    height:10vmin;
    background-color:yellow;
}

.O::after{
    height:6vmin;
    background-color: green;
}

#winner-card, #winner, #reset{
    display: none;
}

#winner-card{
    position: absolute;
    padding-block:5rem;
    width:85vmin;
    aspect-ratio: 1/1.25;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius:5vmin;
    color:black;
    font-size:6vmin;
    font-weight:bold;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#winner{
    color:black;
    text-align: center;
    line-height: 25vmin;
}

#player{
    margin-block: 0.25rem;
    font-size:large;
    font-weight: bold;
    border:1px solid black;
    padding:3vmin;
    border-radius:1vmin;
    color:black;
    transition: background-color 250ms linear;
}

#player:hover,#player:focus{
    background-color: orange;
}

#reset{
    bottom:15rem;
    font-size:larger;
    background-color: rgba(255, 255, 255, 0.9);
    border:1px solid black;
    border-radius:.5rem;
    padding:1.5rem;
    padding-inline:2.5rem;
    transition: .25s;
}

#reset:focus, #reset:hover{
    color:white;
    background-color:green;
}